/* avatar.css */

.avatarCard {
  width: 100%;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
}

/* Nome do personagem */
.nome {
  margin-bottom: 15px;
  font-size: 22px;
}

/* Grid de informações */
.infoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

/* Cada campo */
.infoItem {
  background: #2a2a2a;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

/* Label */
.infoItem span {
  font-size: 12px;
  color: #aaa;
}

/* Valor */
.infoItem strong {
  font-size: 14px;
}

.editavelInput {
  width: 100%;
  border-bottom: 2px solid #555;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: all 0.2s ease;
}

.editavelInput:focus {
  border-bottom: 2px solid #555;
  box-shadow: 0 0 5px #292929;
}

.editavelInput::placeholder {
  color: #888;
}