.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .headerContainer {
    grid-template-columns: 1fr;
  }
}