.fichaContainer {
  padding: 20px;
  color: white;
}

/* HEADER */
.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  max-width: 900px;
  margin: 0 auto 30px auto;
}

/* GRID PRINCIPAL */
.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  max-width: 900px;
  margin: 0 auto;
}

/* placeholders */
.placeholder {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;

  text-align: center;
  font-weight: bold;
}
@media (max-width: 768px) {

  .headerContainer {
    grid-template-columns: 1fr;
  }

  .mainGrid {
    grid-template-columns: 1fr;
  }

}